/* reset */

*::before *::after 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



/* HEADER */




.me-auto{
    margin: 0 auto;
}

.jumbotron{
    background: #428BCA;
    color: #fff;
    padding: 20px 0;
}

/* main */


button::before,
button::after{
    position: absolute;
    content: "";
    z-index: -1;
}

#booton{
    display: flex;
    justify-content: center;
    padding: 10px 0px;
}

button{
    position: relative;
    border: none;
    transition: .4s ease-in;
    z-index: 1;
}
.btn-1:hover{
    box-shadow: inset -10.5em 0 0 0
    #ff96ad, inset -10.5em 0 0 0 #ff96ad;
}

.bnt-1:hover::after{
    width: 100%;
}

#sec1 .col-lg-4{
    margin: 0 !important;
    padding: 25px;
}

#sec1 img{
    width: 100%;
    height: 350px;
}

#sec1 img:hover{
    border: 8px solid #f7f7f7;
    transition: all 0.5s;
}




#sec2 .col-lg-4{
    margin: 0 !important;
    padding: 25px;
}


#sec2 img{
    width: 100%;
    height: 350px;
}

#sec2 img:hover{
    border: 8px solid #f7f7f7;
    transition: all 0.5s;
}

.h21{
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    background: rgb(232, 0, 253);
    color: black;
}





/* Hombre */

#galeria .col-lg-4{
    margin: 0 !important;
    padding: 25px;
}


#galeria img{
    width: 100%;
    height: 400px;
}

#galeria img:hover{
    border: 1px solid lightcoral;
    transform: rotate(-3deg);
}


h6{
    text-align: center;
}

/* Footer */

.footer{
    text-align: center;
    background : #DB6BE2;
   
}


